


<template>
    <footer>
      <b-navbar toggleable="lg" type="dark" variant="info">
       <b-navbar-brand href="#">FUN</b-navbar-brand>


      <b-navbar-nav>
          <b-nav-item ><NuxtLink to="/fun">Fun</NuxtLink></b-nav-item>
          <b-nav-item ><NuxtLink to="/more-fun/fun">More Fun</NuxtLink></b-nav-item>
          <b-nav-item ><NuxtLink to="/">Home</NuxtLink></b-nav-item>
      </b-navbar-nav>



      </b-navbar>
    </footer>
</template>
