
<template>
    <main>
      <div>
        <b-jumbotron bg-variant="warning" text-variant="white" border-variant="dark" header="Too much fun" lead="Fun with vue.js and Nuxt.JS" class="mb-0">
          <p>Welcome to the land of FUN!</p>
          <b-button variant="primary" href="#">More Fun</b-button>
        </b-jumbotron>
      </div>
    </main>
</template>
