<template>
  <header>

    <div>
      <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-brand href="#">FUN</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
              <b-nav-item ><NuxtLink to="/fun">Fun</NuxtLink></b-nav-item>
              <b-nav-item ><NuxtLink to="/more-fun/fun">More Fun</NuxtLink></b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-form>
              <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
              <b-button size="med" class="my-2 my-sm-0" type="submit">Search</b-button>
            </b-nav-form>

            <b-button v-b-toggle.sidebar-1 class="ml-3">Toggle Sidebar</b-button>
          </b-navbar-nav>
        </b-collapse>

      </b-navbar>
    </div>

  </header>
</template>
